<launch>
    <!--
    <node name="face_detector" pkg="faces" type="face_detection.py" output="screen">
        <remap from="image" to="/external_cam/image_raw"/>
    </node>
    -->

    <node name="face_detector" pkg="faces" type="face_detector" output="screen">
        <remap from="image" to="/external_cam/image_raw"/>
    </node>

    <node name="face_output" pkg="image_view" type="image_view">
        <remap from="image" to="/output"/>
    </node>

</launch>
